# Default for anything not covered by one of the more specific rules below
* @Daankrol @mpryahin @LenaRudaya @piotrgrubicki

# Backend
backend/ @mpryahin @LenaRudaya @piotrgrubicki

# Frontend
ui/ @dwesolow @pplaskie @jpggvilaca

# Deploy
deploy/ @mpryahin @LenaRudaya @piotrgrubicki

# Docs
docs/ @Daankrol @mpryahin @LenaRudaya @eugene123tw @dwesolow @pplaskie @samet-akcay

# Lib
lib/ @Daankrol @mpryahin @LenaRudaya @eugene123tw @samet-akcay
