.data/
.vscode/
.DS_Store
__pycache__/
outputs/
sam2/
.gradio/
model_api/data/
__MACOSX/
.idea
results/
node_modules/
.prettier-caches/
node_modules/
.mypy_cache/
.ruff_cache/
.cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
*.egg-info/
flash_4_configs.p
dist/
build/
*.build
