.buttonsGroup {
    margin-top: var(--spectrum-global-dimension-size-100);
    border-top: var(--spectrum-alias-border-size-thick) solid var(--spectrum-global-color-gray-300);
    padding: 0;
}

.createProjectButton {
    color: var(--spectrum-global-color-gray-900);
    padding: var(--spectrum-global-dimension-size-275) var(--spectrum-global-dimension-size-275);

    & span[class*='spectrum-ActionButton-label'] {
        text-align: start;
        margin-left: var(--spectrum-global-dimension-size-100) !important;
    }
}

.dialog {
    & div[class*='spectrum-Dialog-grid'] {
        --spectrum-dialog-padding-x: 0px;
        --spectrum-dialog-padding-y: 0px;
    }
}

.projectList {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.currentProject {
    padding: var(--spectrum-global-dimension-size-200);
}

.currentProjectHeaderText {
    font-weight: 700;
    font-size: var(--spectrum-global-dimension-font-size-75);
}

.selectedProjectButton {
    padding: var(--spectrum-global-dimension-size-100) var(--spectrum-global-dimension-size-150);
}

.projectTitle {
    word-break: break-word;
}
