.container {
    height: 100%;
    transition: grid-template-columns 0.3s ease-in-out;
    border-top-width: var(--spectrum-alias-border-size-thin);
    border-top-style: solid;
    /*border-left-width: var(--spectrum-alias-border-size-thin);
    border-left-style: solid;*/
    border-color: var(--spectrum-global-color-gray-50);
}

.sidebarContent {
    overflow: hidden auto;
    border-right-width: var(--spectrum-alias-border-size-thin);
    border-right-style: solid;
    border-color: var(--spectrum-global-color-gray-50);
    transition: width 0.3s ease-in-out;
}

.toggleButton {
    border: var(--spectrum-alias-border-size-thin) solid transparent !important;

    &[class*='is-hovered'] {
        border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-300) !important;
        background-color: var(--spectrum-global-color-gray-300) !important;
        border-radius: var(--spectrum-alias-border-radius-regular) !important;
    }

    &[class*='is-selected'],
    &[class*='is-active'],
    &[class*='is-disabled'] {
        border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-400) !important;
        background-color: var(--spectrum-global-color-gray-400) !important;
        border-radius: var(--spectrum-alias-border-radius-regular) !important;
    }

    &[class*='is-disabled'] {
        opacity: 0.5;
    }
}

// This is responsible for the animation when the sidebar is being expanded or collapsed only when not dragging
.separator[data-separator='inactive'] + div[id='sidebar'][data-panel='true'][data-isanimating='true'] {
    transition: flex-grow 0.3s ease-out;
}

.separator[data-separator='inactive'] + div[id='sidebar'][data-panel='true'][data-collapsed='true'] {
    flex-grow: 0 !important;
    transition: all 0.3s ease-out;
}

.separatorEnabled {
    width: var(--spectrum-global-dimension-size-40);
    background-color: var(--spectrum-global-color-gray-300);
    border: 1px solid var(--spectrum-global-color-gray-50);
    border-left: none;
    outline: none;
    transition: background-color 0.3s 0.5s ease-in;

    &:hover {
        background-color: var(--energy-blue);
    }
}

.separatorDisabled {
    // The reason for this big translateX is to move the separator out of view.
    // When the panel is collapsed, we don't want the separator to be visible or interactable.
    // Because of globally defined resize cursors, if the separator is still in view, it can cause unwanted cursor changes.
    --big-arbitrary-number: 100000000px;
    pointer-events: none;
    transform: translateX(var(--big-arbitrary-number));
}
