.plusButton {
    border: none;
    background-color: var(--energy-blue);
}

.plusButton:hover {
    border: none;
    background-color: var(--energy-blue);
}

.addLabelButton {
    border: none;
    min-width: max-content;
}
